/* Styling for new tweet submission form */
textarea {
  font-weight: 600;
  width: 100%;
  resize: none;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 5px solid #535149;
}

.user-handle {
  color: #96a3d2;
}

.username {
  margin: 1em;
}

.new-tweet {
  margin-bottom: 50px;
}

::placeholder {
  color: #535149;
}

main form div {
  font-family: "Bungee", sans-serif;
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
}

main button {
  background-color: #4056A1;
  color: white;
}

.error {
  display: none;
  color: red;
}

.error p {
  margin: 0px;
  padding-bottom: 1em;
}

.char-overflow {
  color: red;
}