/* Styling for the button that returns users to the top of the page */
.lower-screen-buttons {
  position: fixed;
    bottom: 15px;
    right: 15px;
}

main .window-scroll {
  display: none;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

main .window-scroll:hover {
  cursor: pointer;
}