/* Style sheet for tweet display area */
article.tweet {
  border: 5px solid;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 30px;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
}

article.tweet img {
  height: 75px;
}

article header div {
  display: flex;
  align-items: center;
}

article.tweet footer {
  border-top: 5px solid;
  padding: .25em .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet .icons {
  width: 110px;
  color: #4056A1;
  display: flex;
  justify-content: space-between;
}

article.tweet .text {
  font-weight: 400;
  padding: .5em;
  overflow-wrap: break-word;
}

article.tweet .posted-time {
  margin: 0px;
  font-size: medium;
  font-weight: 400;
}

article.tweet:hover {
  box-shadow: 7px 7px #96a3d2;
}

.fa-solid:hover {
  color: tan;
}